body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.navbar {
    margin-bottom: 20px;
}

.navbar .navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

.navbar-nav .nav-item .nav-link {
    font-size: 18px;
    text-align: center; /* 確保文本居中 */
}

.navbar-nav .nav-item {
    display: flex;
    align-items: center; /* 確保項目在垂直方向上居中 */
    justify-content: center; /* 確保項目在水平方向上居中 */
}

.navbar-nav .nav-item .btn-link {
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding: 0;
    text-align: center; /* 確保文本居中 */
}

.navbar-nav .nav-item .btn-link:hover {
    text-decoration: underline;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

h2 {
    color: #343a40;
}

ul.expense-list {
    list-style-type: none;
    padding: 0;
}

ul.expense-list li {
    background-color: white;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

form.expense-form {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form.expense-form label {
    display: block;
    margin-bottom: 5px;
    color: #343a40;
}

form.expense-form input, form.expense-form textarea, form.expense-form select, form.expense-form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form.expense-form button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

form.expense-form button:hover {
    background-color: #0056b3;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
    border-top: 2px solid #dee2e6;
}

.table .table {
    background-color: #fff;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

footer {
    margin-top: 20px;
    background-color: #343a40;
    color: white;
    padding: 10px 0;
}
